<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet" type="text/css" />
    <title>Sorting Algorithm Visualizer</title>
</head>
<nav>
    <div>Sorting Algorithm Visualizer</div>
</nav>

<body>

    <div class="text">
        <div class="input-group">
            <div><label for="sorting_algorithm">Sorting Algorithm</label></div>
            <div>
                <form action="#" method="post">
                    <select name="sorting" id="sorting">
                        <option value="" selected>[ Select one ]</option>
                        <option value="bubble_sort">Bubble Sort</option>
                        <option value="insertion_sort">Insertion Sort</option>
                        <option value="selection_sort">Selection Sort</option>
                        <option value="quick_sort">Quick Sort</option>
                        <option value="merge_sort">Merge Sort</option>
                    </select>
                    <div class="input"><input type="text" name="numbers" id="numbers" placeholder="Enter array"> <button onclick="order()">→</button> </div>
                </form>
            </div>
        </div>
    </div>

    <div class="step">
        <p>The Sorting Algorithm is: {{sorting}}</p>
        <p>The inputted array is: {{original}}</p>
        <p>The steps taken are: {{arr}}</p>
    </div>

</body>

<script>
    function order () {
        var str = document.getElementById("numbers").value;
        alert("Inputted array is: ["+str+"]")
    }
</script>
</html>
