<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet" type="text/css" />
    <title>Sorting Algorithm Visualizer</title>
</head>
<nav>
    <div>Sorting Algorithm Visualizer</div>
</nav>

<body>

    <div class="text">
        <div class="input-group">
            <div><label for="sorting_algorithm">Sorting Algorithm</label></div>
            <div>
                <select name="sorting" id="sorting">
                    <option value="" selected>[ Select one ]</option>
                    <option value="bubble">Bubble Sort</option>
                    <option value="insertion">Insertion Sort</option>
                    <option value="selection">Selection Sort</option>
                    <option value="quick">Quick Sort</option>
                    <option value="merge">Merge Sort</option>
                </select>
            </div>
            <div class="input-group">
                <div class="input"><input type="text" name="numbers" id="numbers" placeholder="Enter array"> <button onclick="order()">→</button> </div>
            </div>
        </div>
    </div>

    <div class="steps">
        <p>{{arr}}</p>
    </div>

</body>

<script>
    function order () {
        var str = document.getElementById("numbers").value;
        // let arr = []; 
        // let i = 0;
        // while (i < str.length) {
        //     let num = 0
        //     let multiple = 1
        //     if (str[i] == ',') {
        //         console.log("Please enter numbers.")
        //         i++
        //     }
        //     else {
        //         num += 1
        //     }
        //     i++
        // }

        var array = Array.from(str)
        alert(array)
        console.log(array)
        // Need to sperate things based on commas 
    }
</script>
</html>
